{% extends "gestion/base.html" %}

{% block section_title %}
    Page d'accueil
{% endblock %}

{% block active_home %}active{% endblock %}

{% block content %}
    <h1>Ça fonctionne !</h1>
    <p>Je suis étudiant au département de mathématiques à l'<a href="http://www.ens.fr">École normale supérieure</a> de Paris. Je prépare actuellement l'agrégation de mathématiques à l'<a href="http://www.ens-cachan.fr">ENS Cachan</a>.</p>
{% endblock %}

{% block aside %}
    <p>Ceci est le texte sur le côté, youhou !</p>
{% endblock %}
