{% extends "gestion/base_user.html" %}
{% load bootstrap %}

{% block section_title %}{{ sec_title }}{% endblock %}
{% block content %}
    {% if form.errors %}
    <p class="text-danger">{% block user_error %}{% endblock %}</p>
    {% endif %}
    <form class="form-horizontal" method="post" action="{%block action_name%}{%endblock%}">
        {% csrf_token %}
        <fieldset>
            {% for field in form %}
                {% if field.name == "username" %}
                <h2>Information Personelles</h2>
                {% endif %}
                {% if field.name == "password1" %}
                <h2>Sécurité</h2>
                {% endif %}
                {{ field | bootstrap }}
            {% endfor %}
        </fieldset>
        <div class="form-action">
            <button type="submit" class="btn btn-primary pull-right">
                {{ button }}
            </button>
            {% block extra_form_input %}{% endblock %}
        </div>
    </form>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        /* Met le focus sur le premier champ input
         * du formulaire chargé */
        $('form').eq(0).find('input').eq(1).focus();
        /* NB : c'est eq(1) parce qu'il y a le csrf_token ;) */
        /* NB : ATTENTION, le premier champ input n'est
         * pas toujours le premier champs, ce code n'est
         * pas toujours pertinent */
    });
    </script>
{% endblock %}

{% block user_aside_after %}
    <hr/>
    <p>Il va sans dire que l'ensemble des informations personnelles ne sont pas vouées à être diffusée ou vendues. Certaines de ces informations peuvent toutefois être rendues visibles <strong>par les autres utilisateurs, et eux seuls</strong>. En accord avec les règles imposées par la CNIL il est possible à tout moment de demander la modification, la rectification ou la suppression de ses données personnelles.</p>
{% endblock %}
