#lesson h1 {
    border-bottom   : 2px solid #E8A648 ;
    padding-bottom  : 5px ;
    font-size: 30px;
}

#lesson h1 > .header-section-number {
    background-color : #E8A648;
    padding-right    : 8px;
    padding-left     : 8px;
    color : #FFF;
}


#lesson h2 {
    border-bottom   : 2px solid #999 ;
    padding-bottom  : 3px;
    font-size: x-large;
}

#lesson h2 > .header-section-number {
    background-color : #999;
    padding-right    : 4px;
    padding-left     : 4px;
    color : #FFF;
}

#lesson h3 {
    border-bottom   : 0px solid #000000 ;
    text-decoration: underline;
    padding-bottom  : 0px;
    font-size: large;
}

#contentTOC > ul {
    padding-left: 15px;
}

.lesson-list tr.not-yet {
    color : #BBB;
}

.lesson-list tr.started a {
    color : inherit;
}

.lesson-list td.create_lesson {
    text-align: right;
}

.lesson-list td.dev_nb {
    text-align: center;
    color: white;
    font-weight: bold;
}

.oral-form-icon {
    color : #E8A648;
    font-size : 20px;
    margin-top : 13px;
    cursor : pointer;
}

 .dev_link {
    color : #E8A648;
    font-weight: bold;
 }
