{% extends "base_html.html" %}
{% load staticfiles %}

{% block title %}Agreg{% block sub_title %}{% endblock %}{% endblock %}

{% block navbar %}
{% if user.is_authenticated %}
<li class="{% block active_my_lessons%} {% endblock %}"> <a href="{% url 'oral:lessons' user.username %}">Mes leçons</a></li>
{% endif %}
        <li class="{% block active_home %} {% endblock %}"> <a href="{% url 'gestion:index' %}">Accueil</a> </li>
        {% if user.is_authenticated %}
            <li class="dropdown"> 
                <a data-toggle="dropdown" href="#">{{ user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                <li> <a href="{% url 'gestion:password_change' %}">Changer de mot de passe</a> </li>
                <li> <a href="{% url 'gestion:logout' %}">Se déconnecter</a> </li>
                </ul>
            </li> 
        {% else %}
            <li class="{% block active_login %} {% endblock %}"> <a href="{% url 'gestion:login' %}">Se Connecter</a> </li>
        {% endif %}
        </li>
{% endblock %} 

{% block main_container %}
    <div class="starter-template">
        <div class="row">
            <main class="col-xs-12 col-sm-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert message-{{message.tags}} alter-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <strong>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}DEBUG : {% endif %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Info : {% endif %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}Ayé ! {% endif %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Ooops ! {% endif %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Attention ! {% endif %}
                            </strong>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
	    </main>
            <aside class="col-xs-12 col-sm-4">
                {{message_title}}
                {% block aside %}{% endblock %}
                {% block aside_cookies %}
                    <p>Ce site à besoin de cookies pour fonctionner. Les cookies n'ont besoin d'être conservés que pendant une session et peuvent ensuite être supprimés ; il ne servent qu'à se souvenir que vous êtes connectés et à valider les formulaires.</p>
                {% endblock %}
	    </aside>
        </div>
    </div>
{% endblock %}

{% block foot %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <strong>Liens utiles</strong>
                    <ul>
                        <li><a href="https://github.com/ErkanNarmanli/">GitHub</a></li>
                        <li><a href="https://git.eleves.ens.fr/u/narmanli">GitÉlèves (ENS)</a></li>
                        <li><a href="{% url 'oral:devlist' %}">Développements</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container -->
{% endblock %}

{% block foot_copyrights %}
    La totalité du contenu de ce site est sous licence libre CC0. <a class="copy-link" href="https://fr.wikipedia.org/wiki/Licence_CC0">Plus d'infos.</a>
{% endblock %}
